.footer_container {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 5px solid #30363d;
}
.text_footer {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
