.header_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-header);
  width: 100%;
  border-bottom: 5px solid #30363d;
  font-family: var(--font-family-primary);
  z-index: 99999;
}
.logo_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.logo {
  width: var(--image-logo-height);
  height: var(--image-logo-height);
}
.nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}
.nav_container.show {
  display: flex;
}
.nav_container.hide {
  display: none;
}
.nav_link {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav_link:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}
.social_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.social_icon {
  font-size: 20px;
  margin: 0 8px;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.linkedln_social:hover,
.facebook_social:hover,
.phone_social:hover,
.email_social:hover {
  color: var(--primary-color);
}
.icon_menu_container {
  padding: 12px;
}
.icon_menu_container i {
  font-size: 25px;
}
/* PC */
@media (min-width: 64em) {
  .icon_menu_container {
    display: none;
  }
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .header_container {
    padding: 12px;
  }
  .logo_container {
    flex: none;
    width: 50%;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  .nav_container {
    order: 3;
    flex-direction: column;
    border: 0.5px solid #30363d;
    width: 100%;
    animation: fadeInTopLeftToBottomRight 0.5s
      cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav_link {
    padding: 10px;
    display: inline-block;
    width: 100%;
  }
  .social_container {
    justify-content: flex-end;
    flex: none;
    width: 50%;
  }
  .skill_title {
    justify-content: center;
  }
}

/* MOBILE */
@media (max-width: 46.25em) {
  .header_container {
    padding: 12px 12px;
  }
  .nav_container {
    order: 3;
    flex-direction: column;
    border: 0.5px solid #30363d;
    animation: fadeInTopLeftToBottomRight 0.5s
      cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .logo_container {
    flex: none;
    width: 50%;
  }
  .logo {
    width: 70px;
    height: 70px;
  }
  .nav_link {
    padding: 10px;
    display: inline-block;
    width: 100%;
  }
  .social_container {
    justify-content: flex-end;
    flex: none;
    width: 50%;
  }
  .skill_title {
    justify-content: center;
  }
}

@keyframes fadeInTopLeftToBottomRight {
  0% {
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
